In [1]:
import numpy as np
import pandas as pd
import xarray as xr
from pathlib import Path

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

## Penguin's Data

In [54]:
directory = Path("..\data\datasets_penguins")
target_extension = ".csv"  # Change this to the desired file format

all_dataframes = []

# Iterate through all files in the directory
for file in directory.iterdir():
    if file.is_file() and file.suffix == target_extension:  # Check if it's a file
        print(f"File: {file.name}")
        df = pd.read_csv(f"..\data\datasets_penguins\{file.name}")
        all_dataframes.append(df)  # Add the DataFrame to the list

# Concatenate all DataFrames into one
combined_dataframe = pd.concat(all_dataframes, ignore_index=True)

combined_dataframe

<string>:10: SyntaxWarning: invalid escape sequence '\{'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:10: SyntaxWarning: invalid escape sequence '\{'
<>:10: SyntaxWarning: invalid escape sequence '\d'
<string>:10: SyntaxWarning: invalid escape sequence '\{'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:10: SyntaxWarning: invalid escape sequence '\{'
<>:10: SyntaxWarning: invalid escape sequence '\d'
C:\Users\eduar\AppData\Local\Temp\ipykernel_7408\3954745843.py:1: SyntaxWarning: invalid escape sequence '\d'
  directory = Path("..\data\datasets_penguins")
C:\Users\eduar\AppData\Local\Temp\ipykernel_7408\3954745843.py:10: SyntaxWarning: invalid escape sequence '\{'
  df = pd.read_csv(f"..\data\datasets_penguins\{file.name}")
C:\Users\eduar\AppData\Local\Temp\ipykernel_7408\3954745843.py:10: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv(f"..\data\datasets_penguins\{file.name}")

File: Dataset_15036_753_Adelie_Penguin_Antarctic_Peni_imported.csv
File: Dataset_15037_754_Adelie_Penguin_Powell_Island_imported.csv
File: Dataset_15041_758_Adelie_Penguin_Signy_Island__imported.csv
File: Dataset_15042_759_Chinstrap_Penguin_Laurie_Isla_imported.csv
File: Dataset_15043_760_Chinstrap_Penguin_Signy_Islan_imported.csv
File: Dataset_15044_761_Chinstrap_Penguin_Powell_Isla_imported.csv
File: Dataset_15045_762_Gentoo_Penguin_Signy_Island__imported.csv
File: Dataset_15047_764_Adelie_Penguin_Signy_Island__imported.csv
File: Dataset_15048_765_Chinstrap_Penguin_Signy_Islan_imported.csv
File: Dataset_15056_773_Adelie_Penguin_Signy_IslandN_imported.csv
File: Dataset_15062_779_Adelie_Penguin_Signy_Island__imported.csv
File: Dataset_15188_910_USAMLR_ADB_ADELIE_imported.csv
File: Dataset_15189_911_USAMLR_ADB_CHINSTRAP_imported.csv
File: Dataset_15190_912_USAMLR_ADB_GENTOO_imported.csv
File: Dataset_15191_913_USAMLR_CAS_CHINSTRAP_imported.csv
File: Dataset_15192_914_USAMLR_CAS_GENTOO_imported.csv
File: Dataset_15549_1330_NonBreedingAdelie_4_imported.csv
File: Dataset_15550_1331_NonBreedingAdelie_1_imported.csv
File: Dataset_15551_1332_NonBreedingAdelie_2_imported.csv
File: Dataset_15552_1333_NonBreedingAdelie_3_imported.csv

<string>:10: SyntaxWarning: invalid escape sequence '\{'

,dataset_id,scientific_name,common_name,site_name,colony_name,lat_colony,lon_colony,device,bird_id,track_id,original_track_id,age,sex,breed_stage,breed_status,date_gmt,time_gmt,latitude,longitude,argos_quality,equinox
0,753,Pygoscelis adeliae,Adelie Penguin,Antarctic Peninsula,Hope Bay,-63.37,-57.17,PTT,depid1235,753_depid1235_10727,10727,adult,unknown,non-breeding,non-breeding,2013-02-02,04:10:00,-63.40100,-57.00500,3,NaN
1,753,Pygoscelis adeliae,Adelie Penguin,Antarctic Peninsula,Hope Bay,-63.37,-57.17,PTT,depid1236,753_depid1236_10728,10728,adult,unknown,chick-rearing,breeding,2013-01-19,23:41:00,-63.40700,-57.02400,0,NaN
2,753,Pygoscelis adeliae,Adelie Penguin,Antarctic Peninsula,Hope Bay,-63.37,-57.17,PTT,depid1236,753_depid1236_10728,10728,adult,unknown,chick-rearing,breeding,2013-01-26,12:23:00,-63.37700,-57.01600,1,NaN
3,753,Pygoscelis adeliae,Adelie Penguin,Antarctic Peninsula,Hope Bay,-63.37,-57.17,PTT,depid1236,753_depid1236_10728,10728,adult,unknown,chick-rearing,breeding,2013-01-29,21:20:00,-63.40300,-57.01100,2,NaN
4,753,Pygoscelis adeliae,Adelie Penguin,Antarctic Peninsula,Hope Bay,-63.37,-57.17,PTT,depid1236,753_depid1236_10728,10728,adult,unknown,non-breeding,non-breeding,2013-02-07,22:05:00,-63.42400,-56.98700,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415638,1333,Pygoscelis adeliae,Adelie Penguin,South Shetland Islands,King George Island,-62.03,-58.30,PTT,153826,1333_153826_80021,80021,adult,unknown,non-breeding,non-breeding,2016-12-01,14:35:00,-63.40551,-56.43819,1,NaN
415639,1333,Pygoscelis adeliae,Adelie Penguin,South Shetland Islands,King George Island,-62.03,-58.30,PTT,153825,1333_153825_80020,80020,adult,unknown,non-breeding,non-breeding,2016-12-01,21:34:00,-62.16342,-58.43455,3,NaN
415640,1333,Pygoscelis adeliae,Adelie Penguin,South Shetland Islands,King George Island,-62.03,-58.30,PTT,153825,1333_153825_80020,80020,adult,unknown,non-breeding,non-breeding,2016-12-01,22:18:00,-62.16751,-58.45869,3,NaN
415641,1333,Pygoscelis adeliae,Adelie Penguin,South Shetland Islands,King George Island,-62.03,-58.30,PTT,153825,1333_153825_80020,80020,adult,unknown,non-breeding,non-breeding,2016-12-02,01:35:00,-62.15666,-58.47669,B,NaN
415642,1333,Pygoscelis adeliae,Adelie Penguin,South Shetland Islands,King George Island,-62.03,-58.30,PTT,153826,1333_153826_80021,80021,adult,unknown,non-breeding,non-breeding,2016-12-03,23:53:00,-63.53194,-56.48051,0,NaN

In [3]:
combined_dataframe = pd.read_csv("combined_penguin_df.csv")

C:\Users\eduar\AppData\Local\Temp\ipykernel_21240\1596387872.py:1: DtypeWarning: Columns (8,19) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_dataframe = pd.read_csv("combined_penguin_df.csv")

In [8]:
print(combined_dataframe['latitude'].max())
print(combined_dataframe['latitude'].min())

print(combined_dataframe['longitude'].max())
print(combined_dataframe['longitude'].min())

-53.69
-79.58332
172.37235
-158.038

In [8]:
combined_dataframe["date_gmt"] = pd.to_datetime(combined_dataframe["date_gmt"])
unique_months_years = combined_dataframe["date_gmt"].dt.to_period("M").astype(str).unique().tolist()
unique_months_years

['2013-02-02',
 '2013-01-19',
 '2013-01-26',
 '2013-01-29',
 '2013-02-07',
 '2013-02-08',
 '2013-02-09',
 '2013-01-18',
 '2013-01-21',
 '2013-01-27',
 '2013-02-01',
 '2014-01-15',
 '2014-01-17',
 '2014-01-20',
 '2014-01-16',
 '2014-01-19',
 '2014-01-21',
 '2014-01-25',
 '2014-02-01',
 '2014-01-22',
 '2014-01-26',
 '2014-02-03',
 '2014-02-04',
 '2014-02-07',
 '2014-02-08',
 '2014-02-09',
 '2014-04-11',
 '2014-04-12',
 '2014-04-13',
 '2014-04-14',
 '2014-04-15',
 '2014-04-09',
 '2014-04-10',
 '2014-04-06',
 '2014-04-07',
 '2014-04-08',
 '2014-04-02',
 '2014-04-03',
 '2014-04-04',
 '2014-04-05',
 '2014-04-01',
 '2014-03-29',
 '2014-03-30',
 '2014-03-31',
 '2014-03-25',
 '2014-03-26',
 '2014-03-27',
 '2014-03-28',
 '2014-03-23',
 '2014-03-24',
 '2014-03-17',
 '2014-03-18',
 '2014-03-22',
 '2014-03-15',
 '2014-03-16',
 '2014-03-19',
 '2014-03-20',
 '2014-03-21',
 '2014-03-13',
 '2014-03-14',
 '2014-03-10',
 '2014-03-11',
 '2014-03-12',
 '2014-03-08',
 '2014-03-09',
 '2014-03-06',
 '2014-03-07',
 '2014-03-05',
 '2014-03-01',
 '2014-03-02',
 '2014-03-03',
 '2014-03-04',
 '2014-04-29',
 '2014-04-27',
 '2014-04-28',
 '2014-04-25',
 '2014-04-26',
 '2014-04-16',
 '2014-04-17',
 '2014-02-28',
 '2014-04-24',
 '2014-04-19',
 '2014-04-23',
 '2014-02-27',
 '2014-02-26',
 '2014-02-19',
 '2014-02-20',
 '2014-02-21',
 '2014-02-22',
 '2014-02-25',
 '2014-02-23',
 '2014-02-17',
 '2014-02-18',
 '2014-02-24',
 '2014-02-16',
 '2013-02-19',
 '2013-02-20',
 '2013-01-31',
 '2014-02-14',
 '2014-02-15',
 '2013-02-03',
 '2013-02-12',
 '2013-02-13',
 '2013-02-15',
 '2014-02-13',
 '2014-02-10',
 '2014-02-12',
 '2013-02-10',
 '2013-02-04',
 '2014-02-05',
 '2014-01-24',
 '2013-02-05',
 '2013-01-24',
 '2013-01-25',
 '2014-02-06',
 '2014-01-23',
 '2014-02-11',
 '2013-01-28',
 '2013-01-22',
 '2013-01-23',
 '2014-01-18',
 '2013-01-30',
 '2014-01-28',
 '2013-01-20',
 '2014-01-27',
 '2014-01-29',
 '2014-02-02',
 '2014-01-30',
 '2014-01-31',
 '2013-02-06',
 '2013-01-17',
 '2013-03-17',
 '2013-03-15',
 '2013-03-04',
 '2013-03-14',
 '2013-03-02',
 '2013-02-16',
 '2013-03-03',
 '2013-02-17',
 '2013-02-11',
 '2013-02-26',
 '2013-02-27',
 '2013-02-21',
 '2013-02-22',
 '2014-04-20',
 '2014-04-21',
 '2014-04-22',
 '2013-03-09',
 '2013-03-10',
 '2013-03-11',
 '2013-03-12',
 '2013-03-13',
 '2013-02-28',
 '2013-03-01',
 '2013-02-23',
 '2013-02-24',
 '2013-02-25',
 '2013-03-16',
 '2013-03-18',
 '2013-03-19',
 '2013-03-07',
 '2013-03-08',
 '2013-02-18',
 '2013-03-05',
 '2013-03-06',
 '2013-02-14',
 '2013-04-23',
 '2013-04-25',
 '2013-04-26',
 '2013-04-27',
 '2013-04-28',
 '2013-04-21',
 '2013-04-22',
 '2013-04-17',
 '2013-04-18',
 '2013-04-19',
 '2013-04-20',
 '2013-04-14',
 '2013-04-15',
 '2013-04-16',
 '2013-04-10',
 '2013-04-11',
 '2013-04-12',
 '2013-04-13',
 '2013-04-07',
 '2013-04-08',
 '2013-04-09',
 '2013-04-04',
 '2013-04-05',
 '2013-04-06',
 '2013-04-02',
 '2013-04-03',
 '2013-03-30',
 '2013-03-31',
 '2013-03-25',
 '2013-03-28',
 '2013-03-29',
 '2013-03-26',
 '2013-03-21',
 '2013-03-22',
 '2013-03-23',
 '2013-03-24',
 '2013-03-27',
 '2013-03-20',
 '2014-04-18',
 '2013-04-24',
 '2013-04-01',
 '2013-04-30',
 '2012-02-08',
 '2012-02-09',
 '2012-02-10',
 '2012-01-11',
 '2012-01-12',
 '2012-01-13',
 '2012-01-15',
 '2012-01-16',
 '2012-01-17',
 '2012-01-20',
 '2012-01-22',
 '2012-01-23',
 '2012-01-27',
 '2012-01-30',
 '2012-02-05',
 '2012-02-06',
 '2012-02-07',
 '2012-02-11',
 '2012-02-12',
 '2012-02-13',
 '2012-02-14',
 '2012-02-15',
 '2012-02-16',
 '2012-02-17',
 '2012-02-18',
 '2012-02-19',
 '2012-02-20',
 '2012-02-21',
 '2012-02-22',
 '2012-02-23',
 '2012-02-24',
 '2012-02-25',
 '2012-02-26',
 '2012-02-27',
 '2012-02-28',
 '2012-02-29',
 '2012-03-01',
 '2012-03-02',
 '2012-03-03',
 '2012-03-04',
 '2012-03-05',
 '2012-03-06',
 '2012-03-07',
 '2012-03-08',
 '2012-03-09',
 '2012-03-10',
 '2012-03-11',
 '2012-03-12',
 '2012-03-13',
 '2012-03-14',
 '2012-03-15',
 '2012-03-16',
 '2012-03-17',
 '2012-03-18',
 '2012-03-19',
 '2012-03-20',
 '2012-03-21',
 '2012-03-22',
 '2012-03-23',
 '2012-03-24',
 '2012-03-25',
 '2012-03-26',
 '2012-03-27',
 '2012-03-28',
 '2012-03-29',
 '2012-03-30',
 '2012-03-31',
 '2012-04-01',
 '2012-04-02',
 '2012-04-03',
 '2012-04-04',
 '2012-04-05',
 '2012-04-06',
 '2012-04-07',
 '2012-04-08',
 '2012-04-09',
 '2012-04-10',
 '2012-04-12',
 '2012-04-13',
 '2012-04-14',
 '2012-04-15',
 '2012-04-16',
 '2012-04-17',
 '2012-04-18',
 '2012-04-19',
 '2012-04-20',
 '2012-01-10',
 '2012-01-29',
 '2012-01-31',
 '2012-02-01',
 '2012-02-02',
 '2012-02-03',
 '2012-02-04',
 '2012-04-11',
 '2012-04-21',
 '2012-01-09',
 '2012-01-18',
 '2012-01-14',
 '2012-01-19',
 '2012-01-21',
 '2012-01-24',
 '2012-01-25',
 '2012-01-26',
 '2012-01-28',
 '2012-04-22',
 '2012-04-23',
 '2012-04-24',
 '2012-04-25',
 '2012-04-26',
 '2012-04-27',
 '2014-04-30',
 '2014-05-01',
 '2014-05-02',
 '2014-05-03',
 '2014-05-04',
 '2014-05-05',
 '2014-05-06',
 '2014-05-07',
 '2012-04-30',
 '2012-05-01',
 '2012-04-29',
 '2012-04-28',
 '2011-12-21',
 '2011-12-23',
 '2011-12-24',
 '2011-12-26',
 '2011-12-25',
 '2011-12-30',
 '2011-12-31',
 '2012-01-01',
 '2012-01-05',
 '2012-01-06',
 '2012-01-07',
 '2012-01-04',
 '2011-12-22',
 '2011-12-29',
 '2011-12-27',
 '2012-01-08',
 '2012-01-02',
 '2011-12-28',
 '2012-01-03',
 '2011-12-20',
 '2014-01-01',
 '2014-01-05',
 '2014-01-14',
 '2014-01-13',
 '2014-01-12',
 '2014-01-11',
 '2014-01-10',
 '2014-01-09',
 '2014-01-08',
 '2014-01-07',
 '2014-01-06',
 '2014-01-04',
 '2013-12-30',
 '2013-12-29',
 '2014-01-02',
 '2013-12-31',
 '2014-01-03',
 '2013-12-20',
 '2013-12-16',
 '2013-12-17',
 '2013-12-21',
 '2013-12-19',
 '2013-12-22',
 '2013-12-23',
 '2013-12-18',
 '2013-12-07',
 '2000-12-22',
 '2001-01-09',
 '2001-01-05',
 '2001-01-03',
 '2001-01-02',
 '2000-12-23',
 '2000-12-17',
 '2000-12-16',
 '2000-12-15',
 '2000-12-13',
 '2000-12-09',
 '2000-12-14',
 '2000-12-12',
 '2000-12-11',
 '1999-12-14',
 '1999-12-25',
 '1999-12-19',
 '1999-12-13',
 '1999-12-27',
 '1999-12-22',
 '1999-12-29',
 '1999-12-18',
 '1999-12-20',
 '1999-12-24',
 '2000-01-05',
 '1999-12-28',
 '2001-01-04',
 '2001-01-10',
 '2000-12-27',
 '2000-12-24',
 '2000-12-21',
 '2000-12-25',
 '2000-01-02',
 '2000-01-01',
 '2000-12-10',
 '2000-01-09',
 '2001-01-06',
 '2000-12-18',
 '2001-01-11',
 '2000-12-26',
 '2000-01-08',
 '2000-12-08',
 '1999-12-21',
 '2000-12-20',
 '2000-12-28',
 '1999-12-15',
 '1999-12-17',
 '1999-12-23',
 '2000-01-07',
 '1999-12-31',
 '2000-01-06',
 '2000-01-04',
 '1999-12-26',
 '1999-12-30',
 '2001-01-07',
 '2000-01-03',
 '2001-01-08',
 '2001-02-04',
 '2001-02-03',
 '2001-02-02',
 '2001-02-01',
 '2001-01-27',
 '2001-01-24',
 '2001-01-26',
 '2001-01-25',
 '2001-01-23',
 '2001-01-15',
 '2001-01-14',
 '2001-01-19',
 '2000-02-09',
 '2000-02-07',
 '2000-02-06',
 '2000-02-04',
 '2000-02-02',
 '2000-02-01',
 '2000-01-31',
 '2000-01-30',
 '2000-01-22',
 '2000-01-24',
 '2000-01-21',
 '2000-01-13',
 '2003-02-01',
 '2003-01-31',
 '2003-01-30',
 '2003-01-21',
 '2003-01-29',
 '2003-01-27',
 '2003-01-24',
 '2003-01-28',
 '2003-01-26',
 '2003-01-25',
 '2003-01-17',
 '2000-01-19',
 '2000-01-29',
 '2003-01-18',
 '2003-01-19',
 '2000-02-11',
 '2000-02-10',
 '2000-01-25',
 '2001-01-17',
 '2001-01-18',
 '2001-02-13',
 '2001-02-10',
 '2001-01-28',
 '2001-02-07',
 '2001-02-14',
 '2001-02-11',
 '2001-02-15',
 '2001-02-06',
 '2001-02-05',
 '2001-01-31',
 '2001-01-20',
 '2001-01-16',
 '2001-01-13',
 '2000-02-08',
 '2000-01-28',
 '2003-01-23',
 '2001-02-09',
 '2000-01-14',
 '2003-02-04',
 '2000-01-15',
 '2000-01-26',
 '2003-02-03',
 '2001-02-16',
 '2001-01-21',
 '2003-02-05',
 '2001-01-12',
 '2000-01-27',
 '2000-01-16',
 '2000-02-05',
 '2000-02-12',
 '2003-01-20',
 '2000-02-03',
 '2001-02-12',
 '2000-01-23',
 '2003-01-22',
 '2000-01-20',
 '2001-02-08',
 '2000-02-13',
 '2003-02-02',
 '2003-01-16',
 '2001-01-22',
 '2005-02-17',
 '2005-01-06',
 '2004-12-23',
 '2004-12-19',
 '2005-01-10',
 '2005-01-09',
 '2004-12-20',
 '2004-12-29',
 '2004-12-30',
 '2004-12-31',
 '2004-12-25',
 '2005-01-08',
 '2004-12-21',
 '2005-01-17',
 '2005-01-07',
 '2005-01-04',
 '2005-01-05',
 '2004-12-27',
 '2004-12-22',
 '2005-01-03',
 '2005-01-02',
 '2004-12-26',
 '2004-12-18',
 '2004-12-17',
 '2005-01-01',
 '2004-12-24',
 '2004-12-16',
 '2004-12-15',
 '2004-12-28',
 '2005-01-15',
 '2005-01-18',
 '2005-01-16',
 '2005-02-16',
 '2005-02-15',
 '2005-01-24',
 '2005-02-14',
 '2005-02-13',
 '2005-02-12',
 '2005-02-11',
 '2005-02-10',
 '2005-02-09',
 '2005-02-08',
 '2005-02-07',
 '2005-02-06',
 '2005-02-05',
 '2005-02-04',
 '2005-02-03',
 '2005-02-02',
 '2005-02-01',
 '2005-01-31',
 '2005-01-30',
 '2005-01-29',
 '2005-01-28',
 '2005-01-27',
 '2005-01-26',
 '2005-01-25',
 '2005-01-20',
 '2005-01-19',
 '2005-01-14',
 '2005-01-13',
 '2005-01-12',
 '2005-01-11',
 '2005-01-23',
 '2005-01-22',
 '2005-01-21',
 '2005-02-25',
 '2005-02-24',
 '2005-02-22',
 '2005-02-21',
 '2005-02-20',
 '2005-02-19',
 '2005-02-18',
 '2005-02-23',
 '2004-12-08',
 '2013-05-11',
 '2013-05-10',
 '2013-05-09',
 '2013-05-08',
 '2013-05-07',
 '2013-05-06',
 '2013-05-05',
 '2013-05-03',
 '2013-05-02',
 '2013-05-01',
 '2013-04-29',
 '2013-05-04',
 '2013-05-23',
 '2013-05-22',
 '2013-05-21',
 '2013-05-20',
 '2013-05-19',
 '2013-05-18',
 '2013-05-17',
 '2013-05-16',
 '2013-05-15',
 '2013-05-14',
 '2013-05-13',
 '2013-05-12',
 '2012-05-04',
 '2012-05-03',
 '2012-05-02',
 '2012-05-09',
 '2012-05-08',
 '2012-05-11',
 '2012-05-10',
 '2012-05-06',
 '2012-05-05',
 '2012-05-07',
 '2004-01-04',
 '2006-01-06',
 '2010-11-05',
 '1997-10-28',
 '1997-10-29',
 '2004-01-05',
 '2004-01-09',
 '2004-01-14',
 '2004-01-17',
 '2004-03-13',
 '1997-11-01',
 '2010-01-06',
 '2013-01-16',
 '1997-11-13',
 '1997-12-17',
 '1997-11-18',
 '1997-11-19',
 '2004-01-16',
 '2006-01-07',
 '2010-01-13',
 '2006-01-02',
 '2006-01-03',
 '2006-01-05',
 '2010-01-05',
 '1997-11-14',
 '2013-01-08',
 '2013-01-09',
 '2013-01-10',
 '2007-01-08',
 '2013-01-14',
 '2006-01-04',
 '1997-11-22',
 '2004-07-23',
 '2004-07-29',
 '1997-11-04',
 '1997-11-11',
 '1997-11-12',
 '2010-11-08',
 '1997-11-09',
 '2010-11-11',
 '2010-11-10',
 '2010-11-12',
 '2013-01-15',
 '2006-01-10',
 '2002-01-31',
 '1997-12-11',
 '1997-12-16',
 '1997-12-19',
 '1997-11-17',
 '1996-11-19',
 '1996-11-25',
 '1996-11-01',
 '2004-01-06',
 '2004-01-07',
 '1997-11-02',
 '2010-01-14',
 '2013-01-02',
 '2010-01-12',
 '2010-01-09',
 '2010-01-07',
 '2013-01-05',
 '1997-11-21',
 '1996-11-03',
 '2004-07-05',
 '1997-11-24',
 '2010-11-04',
 '2013-01-01',
 '2006-01-08',
 '2007-01-09',
 '2010-01-08',
 '2006-01-09',
 '2010-10-26',
 '2010-11-03',
 '2007-01-07',
 '2010-11-07',
 '1997-12-15',
 '2004-01-10',
 '2010-01-11',
 '2013-01-13',
 '2013-01-11',
 '1997-10-30',
 '2013-01-12',
 '2012-12-31',
 '2004-01-15',
 '2004-03-07',
 '2004-03-10',
 '2004-03-16',
 '2010-01-10',
 '2010-10-27',
 '2006-01-01',
 '2007-01-10',
 '2013-01-03',
 '2004-01-08',
 '1997-11-15',
 '1996-11-21',
 '1996-11-22',
 '2004-01-03',
 '2013-01-06',
 '2004-03-01',
 '2010-11-15',
 '2010-11-09',
 '1997-10-31',
 '1997-11-20',
 '1997-11-16',
 '2004-01-12',
 '1997-11-10',
 '1996-11-04',
 '1996-11-05',
 '2004-07-20',
 '1997-11-05',
 '1997-11-03',
 '1997-11-08',
 '2004-03-22',
 '2010-10-25',
 '2004-04-12',
 '1997-12-03',
 '2013-01-07',
 '2010-01-15',
 '2004-03-04',
 '1996-11-02',
 '1997-11-07',
 '2004-03-19',
 '2004-03-25',
 '1997-12-14',
 '1997-11-23',
 '2004-07-02',
 '1997-11-06',
 '2004-01-27',
 '2004-01-24',
 '2004-01-25',
 '2004-01-26',
 '2004-05-30',
 '2004-04-15',
 '2010-11-21',
 '1996-11-15',
 '2004-01-18',
 '2004-01-20',
 '2004-06-26',
 '2004-06-23',
 '2010-11-02',
 '2004-02-07',
 '2004-02-08',
 '2004-02-04',
 '2004-02-05',
 '2004-02-06',
 '2012-12-30',
 '2002-02-12',
 '2002-02-13',
 '2002-02-14',
 '2002-02-15',
 '2002-02-16',
 '2002-02-17',
 '2002-02-18',
 '2002-02-19',
 '2002-02-10',
 '2002-02-08',
 '2002-02-09',
 '2004-05-18',
 '2004-05-15',
 '2004-01-23',
 '2004-05-09',
 '1996-10-31',
 '2002-02-06',
 '2002-02-07',
 '2002-02-03',
 '2004-04-06',
 '2010-11-28',
 '2004-05-12',
 '2004-01-11',
 '2010-01-16',
 '2002-02-11',
 '2010-11-25',
 '2004-01-13',
 '2010-10-29',
 '2010-11-16',
 '2002-02-04',
 '2002-02-05',
 '2010-11-14',
 '2004-06-11',
 '2004-01-21',
 '2013-01-04',
 '2003-02-19',
 '2003-02-20',
 '2003-03-01',
 '2003-03-02',
 '2002-02-02',
 '2002-02-01',
 '2004-04-24',
 '2003-03-03',
 '2003-03-04',
 '2003-02-18',
 '2003-02-16',
 '2003-02-17',
 '2003-03-05',
 '2003-03-06',
 '2003-03-07',
 '2003-03-08',
 '2003-03-09',
 '2003-02-21',
 '2003-02-22',
 '2003-02-27',
 '2003-02-28',
 '2003-02-07',
 '2003-02-08',
 '2003-02-09',
 '2003-02-10',
 '2003-02-11',
 '2003-02-12',
 '2003-02-13',
 '2003-02-14',
 '1996-11-13',
 '2004-01-28',
 '2004-01-29',
 '2004-02-02',
 '2009-02-27',
 '2009-02-28',
 '2009-03-01',
 '2009-03-02',
 '2009-03-03',
 '2009-03-04',
 '2003-02-06',
 '1997-11-25',
 '1997-11-26',
 '1996-11-06',
 '2004-06-05',
 '2004-07-08',
 '2004-07-11',
 '2004-07-17',
 '2004-07-26',
 '1997-12-02',
 '2004-02-03',
 '2009-02-23',
 '2009-02-24',
 '2009-02-25',
 '2009-02-26',
 '2004-04-27',
 '1996-11-07',
 '1996-11-10',
 '2002-02-20',
 '2002-02-21',
 '2003-02-26',
 '1996-11-23',
 '2004-03-28',
 '1996-11-09',
 '1996-11-11',
 '1996-11-12',
 '2004-08-10',
 '2002-02-22',
 '2004-08-04',
 '2004-08-07',
 '2003-02-23',
 '2003-02-24',
 '2003-02-25',
 '1997-11-27',
 '1997-11-29',
 '1997-11-28',
 '1997-11-30',
 '1996-11-08',
 '1996-11-14',
 '2004-07-14',
 '2004-08-01',
 '2010-11-24',
 '2004-04-09',
 '2004-04-18',
 '2004-04-21',
 '2004-03-31',
 '2004-04-03',
 '2004-01-22',
 '2004-04-30',
 '2004-05-03',
 '2004-05-21',
 '2004-05-24',
 '2004-05-27',
 '2004-06-02',
 '2004-06-14',
 '2004-06-20',
 '2004-06-08',
 '2003-02-15',
 '2002-03-02',
 '2002-03-03',
 '2002-03-04',
 '2002-02-23',
 '2002-02-24',
 '2002-02-25',
 '2002-02-26',
 '2002-02-27',
 '2002-02-28',
 '2002-03-01',
 '1997-12-12',
 '1997-12-13',
 '1997-12-18',
 '2002-01-30',
 '1996-11-20',
 '1996-11-24',
 '1996-10-30',
 '1996-11-16',
 '2010-11-22',
 '2010-11-23',
 '2010-10-28',
 '2010-10-31',
 '2010-11-01',
 '2010-11-17',
 '2010-11-18',
 '2010-11-19',
 '2010-10-30',
 '2007-01-25',
 '2007-01-26',
 '2007-01-24',
 '2007-01-28',
 '2006-01-12',
 '2006-01-23',
 '2006-01-25',
 '2007-01-15',
 '2000-07-10',
 '2000-07-13',
 '2000-04-23',
 '2006-01-11',
 '2006-01-20',
 '2006-01-21',
 '2006-01-22',
 '2006-01-24',
 '2006-01-14',
 '2006-01-15',
 '2006-01-16',
 '2006-01-19',
 '2007-01-16',
 '2007-01-17',
 '2007-01-18',
 '2007-01-27',
 '2006-01-28',
 '2006-03-15',
 '2010-01-24',
 '2010-01-26',
 '2011-01-27',
 '2006-01-17',
 '2006-01-26',
 '2011-04-22',
 '2011-04-21',
 '2011-04-25',
 '2011-01-29',
 '2011-04-24',
 '2011-05-09',
 '2011-05-10',
 '2011-05-11',
 '2011-04-29',
 '2011-05-12',
 '2011-05-08',
 '2006-01-13',
 '2006-01-31',
 '2006-02-01',
 '2006-02-02',
 '2006-02-03',
 '2007-01-31',
 '2007-01-11',
 '2007-02-01',
 '2011-02-03',
 '2011-02-01',
 '2007-01-30',
 '2007-01-12',
 '2007-01-29',
 '2011-03-16',
 '2011-03-11',
 '2011-05-01',
 '2011-03-23',
 '2011-04-20',
 '2011-04-18',
 '2011-03-26',
 '2011-03-29',
 '2011-03-24',
 '2011-05-05',
 '2011-04-01',
 '2011-05-03',
 '2006-01-29',
 '2007-01-19',
 ...]

## ERA 5

In [11]:
latitude_range = (-79, -54)  # Min and Max latitude
longitude_range = (-158, 172)  # Min and Max longitude
filtered_dates = pd.to_datetime(unique_months_years).date

In [12]:
filtered_dates

array([datetime.date(2013, 2, 2), datetime.date(2013, 1, 19),
       datetime.date(2013, 1, 26), ..., datetime.date(2017, 2, 5),
       datetime.date(2017, 2, 3), datetime.date(2017, 2, 4)], dtype=object)

In [20]:
directory = Path("..\data\era5")
target_extension = ".grib"  # Change this to the desired file format

all_dfs = []

# Iterate through all files in the directory
for file in directory.iterdir():
    if file.is_file() and file.suffix == target_extension:  # Check if it's a file
        print(file)
#         ds = xr.open_dataset(f"..\data\era5\{file.name}", engine="cfgrib")
#         climate_df = ds.to_dataframe()
#         climate_df = climate_df.reset_index()

#         climate_df["time"] = pd.to_datetime(climate_df["time"]).dt.date
#         print(climate_df["time"].unique())

#         # Filter by date range and coordinate range
#         filtered_df = climate_df[
#             (climate_df["time"].isin(filtered_dates)) &
#             (climate_df["latitude"].between(*latitude_range)) &
#             (climate_df["longitude"].between(*longitude_range))
#         ]

#         all_dfs.append(filtered_df)  # Add the DataFrame to the list

# # Concatenate all DataFrames into one
# combined_climate_df = pd.concat(all_dfs, ignore_index=True)

# combined_climate_df

..\data\era5\28da11dc67728c6f8d34fc96b593248c.grib
..\data\era5\2e21d95ce441c54e0487566134724589.grib
..\data\era5\41c3bf44f9fc82f859dd374c8fbd8db3.grib
..\data\era5\43a1cd5772f4d76989654ea026d2c271.grib
..\data\era5\45ed043b6d4ff7164bb59cd877a62bc5.grib
..\data\era5\5ce051da5bb66f22db01f83319a79c89.grib
..\data\era5\74614facae46b0176fa1c403de5ca52.grib
..\data\era5\774158015a7379c102a25df7f411e6be.grib
..\data\era5\795cfc97238d6f2b0058a037e7a80e69.grib
..\data\era5\800d0f3afea01e2a8dcf0e0cac0eacc4.grib
..\data\era5\82dcb547eae1a460f92a2cd09873095d.grib
..\data\era5\875f9090a74d5b52f629d78e927c458c.grib
..\data\era5\c6c819138d763cf5bd4aa0dc6246cf8f.grib
..\data\era5\cc132e9188c3c49ef9e7daf61ea692b0.grib
..\data\era5\d61f49fd573d9678ade1ffc6360b868b.grib
..\data\era5\eb988c00a6f42dfcfa148b55502a4605.grib
..\data\era5\f038706513894e4b2fdbcca41b4819f.grib
..\data\era5\fd74e3afa0dc255b9485fba53b29a10c.grib

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\eduar\AppData\Local\Temp\ipykernel_21240\3911082885.py:1: SyntaxWarning: invalid escape sequence '\d'
  directory = Path("..\data\era5")

In [14]:
combined_climate_df_filtered = combined_climate_df[combined_climate_df['skt'].notnull()]
combined_climate_df_filtered

,time,latitude,longitude,number,step,surface,valid_time,skt
851,2000-07-03,-54.0,-72.8,0,0 days,0.0,2000-07-03 12:00:00,273.843323
852,2000-07-03,-54.0,-72.7,0,0 days,0.0,2000-07-03 12:00:00,273.948792
853,2000-07-03,-54.0,-72.6,0,0 days,0.0,2000-07-03 12:00:00,273.878479
854,2000-07-03,-54.0,-72.5,0,0 days,0.0,2000-07-03 12:00:00,274.038635
855,2000-07-03,-54.0,-72.4,0,0 days,0.0,2000-07-03 12:00:00,274.050354
...,...,...,...,...,...,...,...,...
109571535,2000-04-30,-79.0,-12.4,0,0 days,0.0,2000-04-30 12:00:00,236.100800
109571536,2000-04-30,-79.0,-12.3,0,0 days,0.0,2000-04-30 12:00:00,235.964081
109571537,2000-04-30,-79.0,-12.2,0,0 days,0.0,2000-04-30 12:00:00,235.827362
109571538,2000-04-30,-79.0,-12.1,0,0 days,0.0,2000-04-30 12:00:00,235.694550
109571539,2000-04-30,-79.0,-12.0,0,0 days,0.0,2000-04-30 12:00:00,235.561737

In [19]:
pd.to_datetime(combined_climate_df["time"]).dt.to_period("M").astype(str).unique().tolist()

['2000-07',
 '2000-11',
 '2000-06',
 '1996-10',
 '2000-01',
 '2000-12',
 '1997-10',
 '2000-03',
 '2001-02',
 '2000-05',
 '2001-01',
 '1999-12',
 '1997-12',
 '1999-01',
 '1997-11',
 '2000-02',
 '1996-11',
 '2000-04']

## Creating CSVs

In [59]:
combined_dataframe.to_csv("combined_penguin_df.csv", index=False)

In [ ]:
combined_df.to_csv("combined_climate_df.csv", index=False)